.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 100px;
    border-bottom: solid 1px var(--primary-color);
    margin-bottom: 40px;
    & .nav__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    & .nav__list--btn {
        flex-direction: row-reverse;
    }
}

.logo {
    color: var(--primary-color);
    font-family: 'Newsreader', sans-serif !important;
    font-size: 36px;
    padding: 0 !important;
    font-style: italic;
    font-weight: 200;
}
