<nav class="nav">
    <ul class="nav__list">
        <li class="nav__el">
            <h1 class="logo"><app-links extraClasses="logo" label="Checkmate" link="/" /></h1>
        </li>
    </ul>
    <ul class="nav__list">
        <li class="nav__el"><app-links label="Tournois" link="/" /></li>

        @if (isConnected()) {
            <li class="nav__el">
                <app-links label="Profil" link="/profile" />
            </li>
        }
        @if (isAdmin()) {
            <li class="nav__el">
                <app-links label="Dashboard" link="/dashboard" />
            </li>
        }
    </ul>
    <ul class="nav__list nav__list--btn">
        @if (!isConnected()) {
            <li class="nav__el nav__btn">
                <app-links
                    label="Se connecter"
                    extraClasses="btn-primary"
                    link="/auth/login"
                />
            </li>
        } @else {
            <li>
                <app-button
                    label="Se déconnecter"
                    extraClasses="btn-secondary"
                    (clicked)="onLogoutBtn()"
                />
            </li>
        }
    </ul>
</nav>
