/* tournament-card.component.css */
.tournament__name {
    font-family: 'Newsreader', sans-serif;
    font-size: 30px;
    color: var(--black-color);
}
.tournament__elo {
    font-size: 12px;
}
.tournament-card {
    background-color: var(--luxury-color);
    padding: 20px 24px 20px 24px;
    border-left: 4px solid var(--primary-color);
}

.border-primary{
    border: 1px solid var(--primary-color);
    border-left: 4px solid var(--primary-color);
}
.border-secondary{
    border: 1px solid var(--secondary-color);
    border-left: 4px solid var(--secondary-color);
}
.border-tertiary{
    border: 1px solid var(--finished-color);
    border-left: 4px solid var(--finished-color);
}
/* ── Header ── */
.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}



/* ── Body ── */
.card-body {
    font-family: 'Manrope', sans-serif;
    margin-bottom: 20px;
}

.card-body p {
    font-size: 14px;
    margin: 4px 0;
    display: flex;
    gap: 6px;
}



/* ── Actions ── */
.card-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

