<div class="tournament-card" [ngClass]="{'border-primary': tournamentInput().status === 'en attente de joueurs',
                                        'border-secondary': tournamentInput().status === 'en cours',
                                        'border-tertiary': tournamentInput().status === 'terminé',
        }">
    <div class="card-header">
        <span class="status" [ngClass]="{'status__primary': tournamentInput().status === 'en attente de joueurs',
                                        'status__secondary': tournamentInput().status === 'en cours',
                                        'status__tertiary': tournamentInput().status === 'terminé',
        }">{{ tournamentInput().status }}</span>
        <p class="tournament__elo">
            {{ tournamentInput().eloMin }} - {{ tournamentInput().eloMax }} ELO
        </p>
    </div>

    <div class="card-body">
        <h2 class="tournament__name">{{ tournamentInput().name }}</h2>
        <div>
            <p>{{ tournamentInput().location }}</p>

            <p>
                {{ tournamentInput().nbrOfPlayers }} /{{
                    tournamentInput().playerMax
                }}
                joueurs
            </p>
        </div>

        <p>
            Clôture des inscriptions:
            {{ tournamentInput().endInscriptionDate | date: 'longDate' }}
        </p>

    </div>

    <div class="card-actions">
        @if(!isConnected()){
            <app-links label="S'inscrire" extraClasses="btn-primary" link="/auth/login" />
        }
        @if (tournamentInput().canRegister && !tournamentInput().isRegistered && isConnected()) {
            <app-button label="S'inscrire" extraClasses="btn-primary" (clicked)="onRegister(tournamentInput().id)" />
        }
        @if (!tournamentInput().canRegister && !tournamentInput().isRegistered && isConnected()) {
            <app-button label="S'inscrire" extraClasses="btn-disabled" (clicked)="onRegister(tournamentInput().id)" />
        }
                @if (!tournamentInput().canRegister && tournamentInput().status === 'en cours') {
            <app-links label="Voir les matchs" extraClasses="btn-tertiary" [link]="'/tournament/' + tournamentInput().id"/>
        }
        @if (tournamentInput().isRegistered === true && tournamentInput().status === 'en attente de joueurs' && isConnected()) {
            <app-button label="Se désinscrire" extraClasses="btn-secondary" (clicked)="onLeave(tournamentInput().id)" />
        }
                @if (tournamentInput().status === 'terminé' ) {
                    <app-links label="Voir les résultats" extraClasses="btn-tertiary" [link]="'/tournament/' + tournamentInput().id"/>
        }

        <a
            routerLink="/tournament/{{ tournamentInput().id }}"
            class="btn secondary"
            >détails</a
        >
    </div>
</div>
