/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@import './styles/reset.css';
@import './styles/typo.css';
@import './styles/variables.css';

body {
    background-color: #f9f9f9;
}
.btn {
    font-family: 'Manrope', sans-serif;
    background-color: var(--primary-color);
    padding: 10px 24px;
    color: var(--neutral-color);
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
}
.btn:hover {
    background-color: var(--neutral-color);
    color: var(--primary-color);
    cursor: pointer;
}
