.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  animation: fadeIn 0.2s ease-out;
}

.delete-card {
  background: var(--neutral-color);
  width: 90%;
  max-width: 400px;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
  animation: slideUp 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.delete-card__icon {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px;
}

.delete-card__icon svg { width: 30px; height: 30px; }

.delete-card__title {
  font-size: 2rem;
  margin-bottom: 10px;
  color: var(--black-color);
}

.delete-card__text {
  color: var(--black-color);
  line-height: 1.5;
  margin-bottom: 25px;
}
.delete-card__tournament{
  color: var(--primary-color);
}
.delete-card__actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}




@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideUp {
  from { transform: translateY(20px) scale(0.95); opacity: 0; }
  to { transform: translateY(0) scale(1); opacity: 1; }
}