@if (control().touched && control().invalid) {
    <div class="error-container">
        @if (control().hasError('required')) {
            <p class="field-error">Le champ {{ name() }} est obligatoire.</p>
        }

        @if (control().hasError('email')) {
            <p class="field-error">L'adresse email n'est pas valide.</p>
        }

        @if (control().hasError('minlength')) {
            <p class="field-error">
                Le champ {{ name() }} doit contenir au moins
                {{ control().getError('minlength').requiredLength }} caractères.
            </p>
        }

        @if (control().hasError('maxlength')) {
            <p class="field-error">
                Le champ {{ name() }} doit contenir au maximum
                {{ control().getError('maxlength').requiredLength }} caractères.
            </p>
        }

        @if (control().hasError('min')) {
            <p class="field-error">
                La valeur pour {{ name() }} doit être au moins {{ control().getError('min').min }}.
            </p>
        }

        @if (control().hasError('max')) {
            <p class="field-error">
                La valeur pour {{ name() }} ne peut pas dépasser {{ control().getError('max').max }}.
            </p>
        }

        @if (control().hasError('pattern')) {
            <p class="field-error">Le format du champ {{ name() }} est incorrect.</p>
        }

        @if (control().hasError('notInteger')) {
            <p class="field-error">Le champ {{ name() }} doit être un nombre entier.</p>
        }

        @if (control().hasError('lowercase')) {
            <p class="field-error">Une lettre minuscule est requise.</p>
        }

        @if (control().hasError('uppercase')) {
            <p class="field-error">Une lettre majuscule est requise.</p>
        }

        @if (control().hasError('number')) {
            <p class="field-error">Un chiffre est requis.</p>
        }

        @if (control().hasError('specialChar')) {
            <p class="field-error">Un caractère spécial est requis.</p>
        }
    </div>
}